@import "../defs";

.droparea {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid #fff 10px;
  position: fixed;
  z-index: 1000;
}

.droparea-label {
  background-color: rgba(255, 255, 255, .7);
  width: 300px;
  margin: auto;
  padding: 1px;
  text-align: center;
}