@import "../defs";

#expert {
  position: absolute;
  margin: 0;
  padding: 32px 0 0;
  width: 100%;
  height: 100%;
  background-color: #333;

  #expert_container {
    position: relative;
    width: 100%;
    height: 100%;

    & > * {
      padding: 2px;
      background-color: #333;
      color: #bbb;
      position: absolute;
    }

    .panel-container {
      width: 100%;
      height: 100%;
      border: solid 1px #4d4d4d;
      background-color: #404040;
      overflow: scroll;
    }
  }

  #expert_project {
    top: 0%;
    left: 0%;
    width: 20%;
    height: 100%;
  }

  #expert_composition {
    top: 0%;
    left: 50%;
    width: 50%;
    height: 55%;
  }

  #expert_effect {
    top: 0%;
    left: 20%;
    width: 30%;
    height: 55%;
  }

  #expert_node {
    top: 55%;
    left: 20%;
    width: 80%;
    height: 45%;
  }

  /*
   *  Composition.Controller
   */

  .composition-controller {
    width: 100%;
    height: 28px;
    border-top: 1px solid #505050;

    & > * {
      display: block;
      float: left;
      user-select: none;
      height: 28px;
      padding: 6px 8px;
      font-size: 16px;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      color: #888888;

      &:hover {
        color: #dddddd;
      }
    }

    .composition-controller-seek {
      position: relative;
      padding: 0;
      width: 300px;

      &:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 12px;
        background-color: #888888;
      }

    }

    .composition-controller-timer {
      font-size: 12px;
    }
  }

  /*
   *  #expert_project
   */

  #expert_project {

    .project-piece {
      height: 42px;
      border: solid 1px #363636;

      &.selected {
        border: solid 1px orange
      }

      &.loading {
        color: #888;
      }
    }

    .project-piece > *,
    .project-piece-content > * {
      float: left;
    }

    .project-piece-tag {
      width: 6px;
      height: 40px;
    }

    .project-piece[data-referer-type="file"] .project-piece-tag {
      background-color: #a9dbd3;
    }

    .project-piece[data-referer-type="composition"] .project-piece-tag {
      background-color: #ccb39f;
    }

    .project-piece-content {
      position: relative;
      height: 42px;
      padding: 6px;
    }

    img.project-piece-thumbnail {
      position: absolute;
      width: 40px;
      height: 30px;
    }

    .project-piece-title {
      position: absolute;
      left: 46px;
      height: 30px;
      padding: 4px;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  /*
   *  #expert_composition
   */
  #expert_composition {

    & > .panel-container {
      position: relative;
      overflow: hidden;
    }

    .composition-window {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin-bottom: 33px;

      & > * {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }

    .composition-window-placeholder {
      overflow: auto;
      padding: 12px;
    }

    img.composition-img,
    video.composition-video {
      background-color: #000;
      max-width: 100%;
      max-height: 100%;
    }

    .composition-controller {
      position: absolute;
      bottom: 5px;
    }

    .composition-progress {
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 5px;

      progress {
        position: absolute;
        width: 100%;
        height: 5px;
        /*-webkit-appearance: none;
        appearance: none;*/
      }
    }
  }

  /*
   *  #expert_node
   */
  #expert_node {

    & > .panel-container {
      position: relative;
    }

    .node-corkboard-container {
      scroll: auto;
    }

    #node_corkboard_svg {
      position: absolute;
    }

    .node-piece-composition {
      width: 100px;
      position: absolute !important;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: rgb(147, 140, 255);
      color: #000;
    }

    .node-piece-composition-title {
      font-size: 11px;
    }
  }

  /*
   *  #expert_effect
   */
  #expert_effect {

    & > .panel-container {
      position: relative;
    }

    .effect-tab {
      position: absolute;
      list-style: none;
      height: 42px;
      width: 100%;
      margin: 0;
      padding: 0;
      display: table;
    }

    .effect-tab.layer {
      background-color: #404040;
      opacity: 0.85;
      border-bottom: 1px solid #505050;
    }

    .effect-tab-menu {
      display: table-cell;
      height: 42px;
      font-size: 140%;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      color: #888888;

      &:hover {
        color: #dddddd;
      }

      &.selected {
        color: #53b0ff;
      }

      a {
        height: 100%;
      }
    }

    .effect-content {
      position: absolute;
      overflow: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 42px;
      font-size: 80%;
    }

    .effect-parameter-group {
      padding: 6px 6px 10px 6px;
      margin: 4px 4px 0 4px;
      border-bottom: 1px solid #505050;

      &:after {
        content: " ";
        visibility: hidden;
        display: block;
        clear: both;
        height: 0;
      }

      & > * {
        position: relative;
        float: left;
        width: 100%;
        min-height: 18px;
        margin: 6px 0;
      }

      & > input[type=checkbox] {
        height: 18px;
      }

      & > .half {
        width: 50%;
      }

      legend {
        font-size: 130%;
      }
    }
  }
}