@import "../defs";

#quick {
    position: absolute;
    margin: 0;
    padding: 32px 0 0;
    width: 100%;
    height: 100%;
}

#quick_container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#quick_container > * {
    margin: 0;
    padding: 12px;
}

#quick_container > *:nth-of-type(odd) {
    background-color: #eee;
}

#quick_container > *:nth-of-type(even) {
    background-color: #ddd;
}

