@import "../defs";

.alert {
  width: 250px;
}

.alert-transition-enter {
  @include calculate-z-index(alert, base);
  @include giraf-anime(all, 0.2s);
  @include transform(translate3d(0, 15px, 0));
  opacity: 0.01;

  &.alert-transition-enter-active {
    @include transform(translate3d(0, 0, 0));
    opacity: 1;
  }
}

.alert-transition-leave {
  @include calculate-z-index(alert, base);
  @include giraf-anime(all, 0.2s);
  @include transform(translate3d(0, 0, 0));
  opacity: 1;

  &.alert-transition-leave-active {
    @include transform(translate3d(0, 15px, 0));
    opacity: 0.01;
  }
}

.alert__popup {
  @include giraf-card(2);
  @include font-smoothing();
  @include calculate-z-index(alert, base);
  position: relative;
  width: 100%;
  min-height: 42px;
  margin: 20px;
  padding: 10px;
  color: $color-alert-popup-body;
  background-color: $color-alert-popup-bg;
}

.alert__popup__delete-button {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;

  .alert__popup:hover & {
    opacity: 1;
  }
}