@import "../defs";

.menu {
  position: fixed;
  @include calculate-z-index(menu, base);
  @include font-smoothing();

  .menu__li > & {
    position: absolute;
    top: 0;
    left: 100%;
  }

  .menu__ul {
    @include giraf-card(3);

    list-style: none;
    position: absolute;
    top: 0;
    min-width: 150px;
    max-width: 300px;
    margin: 0;
    padding: 6px 0;
    background-color: $color-menu-bg;
    color: $color-menu-body;
  }

  .menu__li {
    @include user-select(none);
    @include giraf-anime(all, 0.1s);

    position: relative;
    padding: $menu-li-padding;
    text-align: left;
    white-space: nowrap;
    cursor: default;

    &:not(.menu__disabled):hover {
      background-color: lighten($color-menu-bg, 10%);
      color: lighten($color-menu-body, 10%);
    }
  }

  .menu__expandable::after {
    @extend .lsf;
    content: "right";
    position: absolute;
    right: 0;
    margin: 0 6px;
  }

  .menu__disabled {
    color: $color-menu-disabled;
  }
}

.menu-transition-appear {
  @include calculate-z-index(menu, base);
  @include giraf-anime(all, 0.1s);
  @include transform(translate3d(-10px, 0 , 0));
  opacity: 0;

  &.menu-transition-appear-active {
    @include transform(translate3d(0, 0, 0));
    opacity: 1;
  }
}
