@import "../defs";

@mixin wireframe-layer-color($color) {
  .wireframe-fill {
    fill: $color;
  }

  .wireframe-stroke {
    stroke: $color;
  }

  &:hover {
    .wireframe__layer__rect {
      fill: transparentize($color, 0.8);
    }
  }
}

.preview {
  color: $color-preview-body;
  background-color: $color-preview-bg;
}

.preview__footage-container {
  width: 100%;
  height: 100%;
  background-color: #000;

  img, video {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.preview__composition-container-wrapper {
  @include position(absolute, 0 0 0 0);
  overflow: hidden;

  .preview__composition-container {
    position: absolute;
    top: 50%;
    left: 50%;

    canvas {
      position: absolute;
      @include transform(translate3d(-50%, -50%, 0));
      image-rendering: pixelated;
      background-color: #000;
    }
  }
}

.preview__full-screen-button {
  position: absolute;
  top: 0;
  right: 0;
}

.preview__wireframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: visible;
}

.preview__player {
  width: 100%;
  height: 100%;

  .preview__player__container {
    width: 100%;
    height: 100%;
    position: relative;

    img, video, canvas {
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    canvas {
      background-color: black;
    }
  }
}

.wireframe-fill {
  fill: $color-link;
}

.wireframe-stroke {
  stroke: $color-link;
}

.wireframe__layer {
  &.composition {
    @include wireframe-layer-color(saturate($color-composition, 20%));
  }
  &.footage.image {
    @include wireframe-layer-color(saturate($color-footage-image, 20%));
  }
  &.footage.gif {
    @include wireframe-layer-color(saturate($color-footage-gif, 20%));
  }
  &.footage.video {
    @include wireframe-layer-color(saturate($color-footage-video, 20%));
  }

  .wireframe__corner,
  .wireframe__handle {
    @include giraf-anime(opacity, 0.1s);
    opacity: 0;
  }

  &.edited {
    .wireframe__corner,
    .wireframe__handle {
      opacity: 1;
    }
  }

  .wireframe__layer__corner {
    .wireframe__corner:hover {
      fill: white;
    }
  }

  .wireframe__layer__rect {
    cursor: move;
  }

  .wireframe__layer__handle {
    .wireframe__handle__anchor,
    .wireframe__handle__circle {
      cursor: pointer;
    }
  }

  .wireframe__layer__corner-nw,
  .wireframe__layer__corner-se {
    cursor: nwse-resize;
  }

  .wireframe__layer__corner-n,
  .wireframe__layer__corner-s {
    cursor: ns-resize;
  }

  .wireframe__layer__corner-ne,
  .wireframe__layer__corner-sw {
    cursor: nesw-resize;
  }

  .wireframe__layer__corner-e,
  .wireframe__layer__corner-w {
    cursor: ew-resize;
  }
}

.wireframe__handle {
  .wireframe__handle__circle__skeleton {
    pointer-events: none;
  }

  .wireframe__handle__circle__hover {
    pointer-events: stroke;
  }

  .wireframe__handle__circle:hover {
    & .wireframe__handle__circle__skeleton {
      stroke: white;
    }
  }

  .wireframe__handle__anchor__hover {
    pointer-events: all;
  }

  .wireframe__handle__anchor:hover {
    & .wireframe__handle__anchor__skeleton {
      stroke: white;
    }
  }
}
