@import "../defs";

.project {
  color: $color-project-body;
  background-color: $color-project-bg;

  .project__item {
    @include transition(all 0.2s cubic-bezier(0.4, 0, 0.2, 1));
    @include giraf-card(1);
    background-color: $color-project-card-bg;
    height: $project-file-height;
    margin: 6px;
    padding: 0;
    position: relative;

    &.selected {
      @include giraf-card(2);
      padding: 0;
      background-color: lighten($color-project-card-bg, 10%);

      .project-piece-thumbnail-container {
        height: $project-file-height + 20px;
      }
    }

    &.edited {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 2px solid $color-giraf;
        border-radius: 2px;
      }
    }

    &.loading {
      color: #888;
    }

    > * {
      float: left;
    }
  }
}