@import "../defs";

@mixin project-item-thumbnail-gradient($color) {
  &::after {
    @include position(absolute, 0 0 0 0);
    content: "";
    @include background-image(linear-gradient(90deg, $color, transparent));
  }
}

.project {
  color: $color-project-body;
  background-color: $color-project-bg;

  .project__brand {
    position: relative;
    margin: 8px 15px;

    .project__brand__logo svg {
      width: $project-brand-logo-width;
      height: $project-brand-logo-height;
      opacity: 0.8;
      @include svg-fillable() {
        fill: $color-white-sub;
      }
      float: left;
    }

    .project__brand__text {
      @include font-smoothing();
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);
      height: $project-brand-logo-height;
      padding-left: 20px;
      color: $color-white-sub;
      font-size: 12px;
    }

    .project__brand__menu {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;

      button {
        @include giraf-flat-button($color-white);
      }
    }
  }

  .project__item {
    @include giraf-anime(margin);
    @include giraf-card(1);
    @include font-smoothing();
    height: $project-item-height;
    margin: 8px;
    padding: 0;
    position: relative;
    overflow: hidden;

    > * {
      float: left;
    }

    &.footage {
      background-color: $color-project-card-footage-bg;
      .project__item__thumbnail-container {
        @include project-item-thumbnail-gradient($color-project-card-footage-bg);
      }

      &.selected {
        background-color: lighten($color-project-card-footage-bg, 10%);
        .project__item__thumbnail-container {
          @include project-item-thumbnail-gradient(lighten($color-project-card-footage-bg, 10%));
        }
      }
    }

    &.composition {
      background-color: $color-project-card-composition-bg;
      .project__item__thumbnail-container {
        @include project-item-thumbnail-gradient($color-project-card-composition-bg);
      }

      &.selected {
        background-color: lighten($color-project-card-composition-bg, 10%);
        .project__item__thumbnail-container {
          @include project-item-thumbnail-gradient(lighten($color-project-card-composition-bg, 10%));
        }
      }
    }

    &.selected {
      @include giraf-card(2);
      margin: 4px;
      padding: 0;

      .project-piece-thumbnail-container {
        height: $project-item-height + 20px;
      }
    }

    &.edited {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 2px solid $color-giraf;
        border-radius: 2px;
      }
    }

    &.loading {
      color: $color-project-loading-body;
    }

    &.dying {
      color: $color-project-dying-body;
    }

    .project__item__thumbnail-container {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0.5;

      & > img,canvas {
        height: $project-item-height;
        @include reveal(project-item-canvas, 0.2s) {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }

    .project__item__text {
      position: absolute;
      width: 100%;
      padding: 9px 6px;
    }

    .project__item__title {
      @include single-line();
      font-size: 14px;
      font-weight: 700;
      color: $color-white;
    }

    .project__item__description {
      @include display(flex);
      width: 100%;
      font-size: 12px;
      color: $color-white;
    }
  }
}