@import "../defs";

.scroll__box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scroll__content-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  &.scroll-x {
    bottom: $scroll-bar-width;
  }

  &.scroll-y {
    right: $scroll-bar-width;
  }
}

.scroll__bar {
  position: absolute;
  pointer-events: none;
  background-color: $color-scroll-bar-bg;

  .scroll__bar__slider {
    position: absolute;
    @include giraf-card(2);
    margin: 0;
    padding: 0;
    background-color: $color-scroll-bar-slider-bg;
  }
}

.scroll__bar-x {
  bottom: 0;
  @include calc(width, "100% - #{$scroll-bar-width}");
  height: $scroll-bar-width;

  .scroll__bar__slider {
    height: 100%;
  }
}

.scroll__bar-y {
  right: 0;
  width: $scroll-bar-width;
  @include calc(height, "100% - #{$scroll-bar-width}");

  .scroll__bar__slider {
    width: 100%;
  }
}
